@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,300;1,400;1,600&family=Quicksand&family=Roboto:wght@300;400;500&display=swap');

:root {
  --blue: #2c2c54;
  --blue-100: #40407a;
  --red: #eb2f06;
  --gray: #dfe4ea;
  --gray-200: #f1f2f6;
  --white: #fff;
  --gray-100: #fff;
  --black: #2d3436;
}

* {
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}
/* ---------------------------------
Nev Section
--------------------------------*/
.navbar-expand-lg {
  background-color: var(--blue);
  color: var(--gray-200);
}
.navbar-expand-lg a {
  color: var(--gray-200);
  text-decoration: none;
  color: var(--gray-200);
}
.navbar-expand-lg a:hover {
  color: var(--gray-200);
}
.navbar-expand-lg .navbar-nav li :hover {
  color: var(--gray-200);
}

.navbar-expand-lg a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: coral;
  margin: auto;
  display: block;
  color: var(--white);
}
.navbar-expand-lg a:hover::after {
  width: 100%;
  transition: width 0.3s linear;
}

/* -----------------------Slider Section ----------------------------*/

.slider-section {
  background-color: var(--blue-100);
}
.slider-section {
  height: 400px;
  background-image: url(../images/world.jpg);
  background-color: linear-gradiant(to bottom);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

.slider-section .form-group {
  position: relative;
  height: 50px;
}
.slider-section .form-group button {
  position: absolute;
  right: 25px;
  top: 50%;
  /* to make it to the Center */
  transform: translateY(-50%);
  font-size: 1.5em;
  border: none;
  outline: none;
  background-color: transparent;
}
.slider-section input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0 10px;
}
.slider-body {
  /* border: 2px solid red; */
  height: 300px;
  display: flex;
  align-items: center;
}

.slider-body form {
  width: 100%;
  /* border: 2px solid green; */
}

/* ---------News And Category---------- */

.sections {
  text-align: center;
  font-weight: 400;
  margin: 40px 0;
}
.sections::after {
  content: '';
  display: block;
  width: 200px;
  height: 3px;
  background-color: var(--blue);
  position: relative;
  left: 50%;
  /* to make to the center */
  transform: translateX(-50%);
}

/* Category section  */
.home-category {
  background-color: var(--gray-200);
  /* background-color: red; */
  height: fit-content;

}
/* this for toggle Category section */
.home-category h3{
  margin: 20px 0;
}
.cat-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-weight: 600;
}
.cat-header span {
  font-size: 1.7em;
  cursor: pointer;
  display: none;
}

.home-category ul {
  padding: 0;
}
.home-category ul li {
  list-style: none;
}
.home-category ul li a {
  text-decoration: none;
  color: var(--black);
  display: block;
  padding: 10px 20px;
}
.home-category ul li a:hover {
  background-color: var(--blue);
  color: var(--gray-200);
}

/* Category section End  */




/* Here main cards container start  */
.home-news .news-thumb {
  width: 100%;
  height: 170px;
  overflow: hidden;
  position: relative;
  /* border: 2px solid red; */
}
.news-thumb a img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: center;
}
.news-thumb a {
  position: absolute;
  top: 0;
  right: 0;
  /* left: 0; */
  /* bottom: 0; */
  background-color: var(--red);
  color: var(--white);
  display: inline-block; /*i give coz it can take padding M*/
  /* padding: 0 10px; */
  text-decoration: none;
}
.news-thumb a:first-child {
  width: 100%;
}
/* i give height 170px coz of parent  */



.home-news .card-body a {
  text-decoration: none;
  color: var(--black);
}

.home-news {
  margin-bottom: 20px;
}
.home-news .card-body .author-post{
  background-color: var(--blue);
  color: var(--gray-100);
  display: inline-block;
  padding: 0 5px;
}


/* Here end of news cards container End  */

/* autors card style */
.cus-card {
  background-color: var(--gray-100);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--gray);
}
.author-section {
  position: relative;
}
.author-section .author-thumb {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px dashed var(--blue);
}
.author-section .author-thumb img {
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.author-section .card-body {
  text-align: center;
}

.author-section .card-body a {
  text-decoration: none;
  color: var(--black);
}
.author-section .card-body .socail-links a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--blue);
  color: var(--gray-200);
  line-height: 30px;
}
.author-section .card-body .socail-links a:hover {
  background-color: var(--blue-100);
}

/* Footer Section */
/* Here Footer start  */

.footer {
  background-color: var(--blue);
  padding: 80px 0;
  color: var(--gray-100);
  text-align: center;
}
.footer a {
  color: var(--gray-100);
  text-decoration: none;
}
.footer ul {
  list-style: none;
  padding: none;
}
.footer ul li {
  line-height: 2.5;
}
.footer ul li:hover {
  transform: translateX(10px);
}

.footer .socail-links a,
.staff-details .socail-links a{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--gray-100);
  color: var(--blue);
  line-height: 30px;
  margin-top: 3px;
  text-align: center;
}
.footer .socail-links a:hover ,
.staff-details .socail-links a:hover{
  transform: translateY(10px);
}
.footer .col-md-4 {
  margin-bottom: 40px;
}

/* End of the footer  */
.bottom-footer {
  background-color: var(--blue-100);
  color: var(--gray-100);
  text-align: center;
  padding: 20px 0;
}
.bottom-footer p {
  margin: 0;
}
.bottom-footer a {
  color: var(--gray-100);
}

/* All_news.php */
.all-news-thumb{
width: 100%;
height: 200px;
/* border: 2px solid red; */
}
.all-news-thumb img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.all-news-footer{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 30px;
}
.all-news-footer a{
  text-decoration: none;
  color: var(--black);
}
.all-news-footer a:first-child{
  background-color: var(--blue);
  color: var(--white);
  padding: 0px 10px;
}
.news-title{
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
}

.all-news-row {
  margin-bottom: 20px;
}

/* SidBar */
.sidebar-img{
  height: 105px;
}
.sidebar-img img{
  width: 100%;
  height: 105px;
  object-fit: cover;
  object-position: center;
}


/* sidebar-cantegory */
.sidebar-cantegory ul{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 15px;
padding: 0;
list-style: none;
}
.sidebar-cantegory ul li a{
  text-decoration: none;
  padding: 5px 10px;
  background-color: var(--gray);
  color: var(--blue);
  border-radius: 5px;

}
.sidebar-cantegory ul li a:hover{
  background-color: var(--gray);
  color:var(--blue);
  cursor: pointer;
}

/* SINGLE NEWS SECTION*/
.news-page .sidebar-img,
.news-page .sidebar-img img{
  height: 550px;
  object-fit: cover;
  object-position: center;
}


/* ABOUT US .php SECTION */

.staff-profile {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 5px dashed var(--blue);
  overflow: hidden;
  margin-left: auto;
}

.staff-profile img{
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: center;

}

.staff-details p,
.staff-details h1{
margin: 0;
}
.staff-details h1{
font-weight: bold;
  }


  /* Index for Login Section
  USER PAGE
  */
.login-body{
height: 100Vh;
display: flex;
justify-content: center;
align-items: center;
}


/* Admin Panel Section */

.sidebar-row .col-md-2 {
  background-color: var(--gray-200);
  height: 100vh;
}
.sidebar-row .sidebar-header .profile-thumb{
width: 110px;
height: 110px;
border-radius: 50%;
border: 5px solid var(--blue);
overflow: hidden;
margin: 0 auto;
margin-top: 50px;
}
.sidebar-row .sidebar-header .profile-thumb img{
height: 110px;
width: 100%;
object-fit: cover;
object-position:center;
}
.sidebar-row .sidebar-header .profile-details{
  margin-top: 5px;
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-row .sidebar-body{
background-color: var(--blue);
color: var(--gray-100);
}
.sidebar-row .sidebar-body ul {
  list-style: none;
}
.sidebar-row .sidebar-body ul li a{
 text-decoration: none;
 color: var(--gray-100);
 line-height: 2;
}
.sidebar-row .sidebar-footer ul{
  list-style: none;
}
.sidebar-row .sidebar-footer ul li a {
  text-decoration: none;
 color: var(--black);
}

/* FORM GROUP  */
.form-group{
margin-bottom: 20px;
}

/* on add-post */
.form-group small {
background-color: var(--red);
border-radius: 10px;
text-transform: lowercase !important;
color: white;
}

/* FOR PROFILE I MEAN THE USER */

.user-thumb .user-img{
width: 140px;
height: 140px;
border-radius: 50%;
border: 5px solid var(--blue);
overflow: hidden;
margin: 30px auto;
position: relative;

}
.user-thumb .user-img img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  object-position: top;
}

.user-thumb .user-img a{
  position: absolute;
  top:50% ;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 3em;
  color: var(--gray-100);
  box-shadow: 0 0 35px var(--black);
}
.user-info li span{
background-color: var(--gray);
padding: 5px 8px;
border-radius: 10px;
}
/* DASHBORAD */
.bt{
  border-top: 5px solid var(--red);
}

/* users Aprove */
.u-img{
height: 250px;
overflow: hidden;
}
.u-img img{
  height: 250px;
  object-fit: cover;
  object-position: center;
}


/* This media query for Autour */
@media screen and (max-width: 786px) {
  .author-section {
    margin-bottom: 90px;
  }
  /* this for toggling category */
  .cat-header span {
    display: block;
  }
  .home-category {
    height: 65px;
    margin-bottom: 25px;
    transition: all 1s ease;
    overflow: hidden;
  }
  .toggle {
    height: 370px;
  }
  .news-page .sidebar-img,
.news-page .sidebar-img img{
  height: auto;
  object-fit: cover;
  object-position: center;
}
}
